<!doctype html>
<html class="x-admin-sm">
<% include ../public/iframe_header %>

<body>
    <div class="x-body">
        <form class="layui-form">
            <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>品牌名称</label>
                <div class="layui-input-inline">
                    <input value="<%= brandInfo?brandInfo.name:'' %>" lay-verify="required" type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否国内品牌</label>
                <div class="layui-input-inline">
                    <select name="isChina" lay-filter="aihao">
                        <option <%= brandInfo?(brandInfo.isChina? 'selected' : ''):'' %> value="0">国内品牌</option>
                        <option <%= brandInfo?(brandInfo.isChina? '' : 'selected'):'' %> value="1">国外品牌</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">品牌LOGO</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="test1">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </div>
                <div class="layui-input-block">
                    <img width="100" id="view" src="<%= brandInfo?brandInfo.logo:'' %>" alt="">
                    <input value="<%= brandInfo?brandInfo.logo:'' %>" type="hidden" id="imgurl" name="imgurl">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">品牌描述</label>
                <div class="layui-input-block">
                    <textarea name="describe" placeholder="请输入内容" class="layui-textarea"><%= brandInfo?brandInfo.describe:'' %></textarea>
                </div>
            </div>
            <input type="hidden" name="brandid" value="<%= brandInfo?brandInfo._id:'' %>">   
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                </div>
            </div>
        </form>
    </div>
    <script src="https://unpkg.com/qiniu-js@2.5.4/dist/qiniu.min.js"></script>
    <script>
    layui.use(['layer', 'form', 'upload'], function() {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload;

        form.on('submit(*)', function(data) {
            $.ajax({
                url: '/api_admin/brand/add',
                type: 'get',
                data: data.field,
                success(data) {
                    if (data.code === 0) {
                        layer.msg(data.msg, function() {
                            x_admin_close()
                            parent.saveReport()
                        })
                    } else {
                        layer.msg(data.msg)
                    }
                },
                error(error) {
                    reject(data.token);
                }
            })
            return false;
        });
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1',
            auto: false,
            choose: function(obj) {
                obj.preview(function(index, file, result) {
                    $.ajax({
                        url: '/qiniu_token',
                        type: 'get',
                        success(data) {
                            var formPic = new FormData();
                            formPic.append('file', file);
                            formPic.append('token', data.token);
                            $.ajax({
                                url: 'http://up.qiniup.com/',
                                type: 'post',
                                contentType: false,
                                processData: false,
                                data: formPic,
                                success(res) {
                                    $('#view').attr('src', 'http://qiniu.xiaoqiuxiong.cn/' + res.key)
                                    $('#imgurl').val('http://qiniu.xiaoqiuxiong.cn/' + res.key)
                                }
                            })
                        },
                        error(error) {
                            reject(data.token);
                        }
                    })
                });
            }
        });


    });

    function getToken() {
        return new Promise(function(resolve, reject) {
            $.ajax({
                url: '/qiniu_token',
                type: 'get',
                success(data) {
                    resolve(data.token);
                },
                error(error) {
                    reject(data.token);
                }
            })
        });
    }
    </script>
    <% include ../public/iframe_footer %>
</body>

</html>